body{
    background-color:cornsilk;
}
h1{
text-align: center;
text-decoration: underline;
color:red;
text-indent: 30px;

}
h2{
text-align: center;
color:aqua;
text-transform: initial;
}
h3{
text-align: center;
color:red;
}
p{
text-align: justify;
color:black;
letter-spacing: normal;

}